header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
}

.header_container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
}

.header_text1 {
    font-size: 26px;
    font-weight: bold;
}

.header_text2 {
    font-size: 26px;
}

.Logo_image {
    width: 72px;
    height: 64px;
    margin-right: 20px;
}

main {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 2.5%;
}

.main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 20px;
}

.main_container img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.main_container span {
    font-size: 18px;
    font-weight: bold;
}

.main_sub_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.main_sub1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_sub1 img {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
}

.main_sub1 span {
    font-size: 18px;
    font-weight: bold;
}

.main_sub1 p {
    text-decoration: underline;
}

.main_sub2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_sub2 img {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
}

.main_sub2 span {
    font-size: 18px;
    font-weight: bold;
}

.main_sub2 p {
    text-decoration: underline;
}

.footer_container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 15px;
}

.footer_container div {
    padding: 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.footer_container div img {
    width: 16px;
    height: 17px;
}