/* calendar.css */

/*오른쪽 버튼 css*/
.fc .fc-button-primary:disabled {
    background-color: transparent !important;
    color: #000000;
    border: none;
}
.fc .fc-button-primary {
    background-color: transparent !important;
    color: #000000;
    border: none;
}
.fc .fc-button-primary:hover {
    color: #000000;
}

/*달력 css*/
.fc-theme-standard td, .fc-theme-standard th {
    border: none;
}
.fc-theme-standard .fc-scrollgrid {
    border: none;
}
.fc .fc-daygrid-day-top {
    justify-content: center;
}
.fc-day-sun a { /* 일요일 컬러 */
    color: #cf0000;
}
.fc .fc-col-header-cell-cushion { /*요일 컬러*/
    color: #000000;
}
/*년월 text*/
.fc .fc-toolbar-title {
    font-size: 1.5em;
    margin: 0 0 0 13px;
}

/*.fc  {*/
/*    !*달력 높이*!*/
/*    height: 405px !important;*/
/*}*/

.event-details {
    margin-top: 20px;
    padding: 15px;
}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.event-title {
    font-size: 18px;
    font-weight: bold;
}

.event-crop {
    font-size: 15px;
    font-weight: bold;
    color: #d9534f;
    margin-bottom: 5px;
}

.event-icon {
    font-size: 24px;
    margin-right: 10px;
}

.event-content {
    display: flex
;
    align-items: center;
    justify-content: space-between;
}

.recent {
    color: green;
    font-size: 14px;
}

.temperature {
    font-size: 14px;
}

p.recent-label {
    color: #1BA639;
    font-size: 14px;
    margin-left: 10px;
}

.event-header-detail {
    display: flex
;
    align-items: baseline;
}
.event-card{
    border-radius: 10px;
    background: #fafafa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1px 10px 4px 10px;
}

p.event-time {
    margin: 3px;
    color: #78777B;
}
.p.weather-info {
    color:#78777B;
}

.event-description {
    display: flex;
    align-items: baseline;
}