/* Diary.module.css */

/*footer제외 하여 높이 조절*/
html, body {height:100%}
.container{
    background-color: #1ba639;
    height:auto;
    min-height: 100%;
    padding-bottom: 60px;
}
/* 헤더 스타일 */

.header_container {
    display: flex;
    justify-content: space-between; /* 로고와 설정 아이콘 좌우 배치 */
    align-items: center;
    background-color: #1ba639; /* 초록색 계열 */
    color: white;
    padding: 10px 15px;
    height: 50px;
    border:none;
}

.info_container {
    background-color: #1ba639; /* 초록색 계열 */
    margin: 0px;
    padding: 10px;
}
.userCrop_info{
    display: flex;
    justify-content: space-between;
    padding: 18px 10px 0 15px;
    align-items: baseline;
    color: white;
}
.cropList{
    font-weight: bold;
    font-size: 15px;

}
.cropListPage{
    text-decoration: underline;
    font-size: small;
}
.user {
    color: white;
    font-size: 24px;
    padding: 15px;
}

/* 내 작물 정보 컨테이너 */
.crop_container {
    display: flex;
    align-items: center;
    gap: 10px; /* 아이템 간격 */
    margin: 5px;
    /*background-color: white;*/
    padding: 10px;
    border-radius: 8px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

/* 개별 작물 아이템 */
.crop_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff; /* 연한 초록 */
    width: 60px;
    height: 75px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* 작물 추가 버튼 */
.add_crop {
    background-color: rgba(255, 255, 255, 0.4);
    width: 60px;
    height: 75px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:25px;
    cursor: pointer;
    color: #ffffff;

}
.crop_calendar{

}
/* 캘린더 컨테이너 */
.calendar_container {
    background-color: white;
    padding: 25px;
    border-radius: 20px 20px 0 0;
}
